/* PC에서 메인 이미지 높이 제한 */
@media (min-width: 960px) {
  .VPHomeHero .image-container img {
    max-height: 260px;
  }
}

:root {
  .custom-block {
    margin: 36px 0;
    font-weight: 600;
  }
  .custom-block-title {
    font-size: 1rem;
    font-weight: 800;
  }
  .tip .custom-block-title {
    color: var(--vp-c-brand);
  }
  strong {
    font-weight: 700;
  }
}
