/* PC에서 메인 이미지 높이 제한 */
@media (min-width: 960px) {
  .VPHomeHero .image-container img {
    max-height: 260px;
  }
}

:root {
  .custom-block {
    margin: 36px 0;
    font-weight: 600;

    /* li이면서 첫번재 리스트가 아닌경우, margin-left 추가 */
    li:not(:first-child) {
      margin-top: 4px;
    }

    p:first-child {
      margin-bottom: 16px;
    }
  }
  .custom-block-title {
    font-size: 1rem;
    font-weight: 800;
  }
  .tip .custom-block-title {
    color: var(--vp-c-brand);
  }
  /* 스터디 날짜 스타일 */
  .study-date {
    display: block;
    text-align: right;
    font-weight: 600;
    opacity: 0.5;
  }
  strong {
    font-weight: 700;
  }
}
